@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500;600&display=swap');
@import 'tailwindcss';

@theme {
  --color-snow: #F9F7F7;
  --color-periwinkle: #DBE2EF;
  --color-cornflower: #3F72AF;
  --color-navy: #112D4E;

  --font-display: 'DM Serif Display', serif;
  --font-body: 'DM Sans', sans-serif;
}

* {
  font-family: var(--font-body);
}
html {
  scrollbar-gutter: stable;
}

body {
  overflow-y: scroll;
}